<div class="entry">
  
  <div class="entry-content">
    <div class="date">
      <span class="year"><%= entry.date.strftime("%Y") %></span>
      <span class="day"><%= entry.date.strftime("%a") %></span>
    </div><!-- .date -->
    <span class="entry-content"><%= entry.content %></span>
  </div>

  <div class="edit-controls">
    <%= link_to "edit", edit_journal_entry_path(entry), :class => "edit-button" %> 
  </div><!-- .edit-controls -->

</div><!-- .entry -->