<div class="content-panel">
  <h2 class="content-panel__heading">Edit Entry</h2>
  
  <div class="content-panel__contents">
    <%= render 'form' %>
  </div><!-- .content-panel__contents -->

</div><!-- .content-panel -->
