<ul class="contact-info">
  <li><%= link_to raw("talk@<br>marshallklickman.com"), "mailto:talk@marshallklickman.com", :class => "contact-info__item contact-info__email", :target => "_blank" %></li>
  <li><%= link_to "@mklickman", "http://twitter.com/mklickman", :class => "contact-info__item contact-info__twitter", :target => "_blank" %></li>
  <li><%= link_to "864.425.7155", "tel://864-425-7155", :class => "contact-info__item contact-info__phone"%></li>
</ul>