<div class="content-panel l-main-column">
  <h2 class="content-panel__heading">What I Do</h2>
  
  <div class="content-panel__contents">
    <p class="lead-in"><strong>The short version:</strong> I design and build web sites and web applications.</p>
    <p>Obviously, there's a lot more to it than can be summed up in a single sentence, and every project I do is vastly different than the one before it. In general, my expertise centers around these areas of focus:</p>
    <div class="breakdown">
      <h4>Visual, User Experience, and Application Design</h4>
      <p>While that terminology sounds pretty buzzword-esque, all it really boils down to is this: coming up with a plan for how your web site should look and behave, based on what you want to accomplish with it. In the case of database-backed web apps, this is where the structure of all of that data is planned out as well. Ideally, a project will start with this phase on its own before any development begins. If you've ever heard the term "Responsive Web Design", this is where all of that gets planned out as well.</p>
    </div><!-- .breakdown -->
    <div class="breakdown">
      <h4>Front-End Web Development</h4>
      <p>Translation: HTML5, CSS3, and JavaScript. This type of development is called "front-end" or "client-side" because it has to do with anything and everything people will see or interact with when they use your site or app. It basically relates to anything that is used to translate the site design (a lot of times put together in Photoshop) from flat images into a working, interactive website.</p>
    </div><!-- .breakdown -->
    <div class="breakdown">
      <h4>Back-End Web Development</h4>
      <p>The back end of a website or app is the engine that makes everything run. It's all the code that you don't see, pushing information around, crunching numbers, and talking to databases. Without a back end, your website would be nothing but a bunch of elaborate Word documents that couldn't do anything more than display static information. Ruby (for Ruby on Rails applications) and PHP (for WordPress sites) are the scripting languages I use to build the back-end components of the web sites and apps that I work on. </p>
    </div><!-- .breakdown -->
  </div><!-- .content-panel__contents -->
</div><!-- .content-panel.main-column -->

<div class="l-sidebar">
  <div class="content-panel personal-stats no-padding">
    <h2 class="content-panel__heading">About Me</h2>
    <div class="image-wrap">
      <img src="http://placecage.com/311/311" alt="not me">
    </div><!-- .image-wrap -->
    <div class="content-panel__contents">
      <table>
        <tr class="personal-stats__row">
          <td class="personal-stats__row__key">Name:</td>
          <td class="personal-stats__row__value">Marshall Klickman</td>
        </tr>
        <tr class="personal-stats__row">
          <td class="personal-stats__row__key">Age:</td>
          <td class="personal-stats__row__value">27 <em>apparent age: 19</em></td>
        </tr>
        <tr class="personal-stats__row">
          <td class="personal-stats__row__key">Married For:</td>
          <td class="personal-stats__row__value"> <%= years_married %> years</td>
        </tr>
        <tr class="personal-stats__row">
          <td class="personal-stats__row__key">Kids:</td>
          <td class="personal-stats__row__value">2 boys <em>3, including self</em></td>
        </tr>
        <tr class="personal-stats__row">
          <td class="personal-stats__row__key">Sign:</td>
          <td class="personal-stats__row__value">Nerd</td>
        </tr>
        <tr class="personal-stats__row">
          <td class="personal-stats__row__key">Pepsi/Coke:</td>
          <td class="personal-stats__row__value">Coke</td>
        </tr>
        <tr class="personal-stats__row">
          <td class="personal-stats__row__key">Git/SVN:</td>
          <td class="personal-stats__row__value">Get out</td>
        </tr>
      </table>
    </div><!-- .content-panel__contents -->
  </div><!-- .content-panel -->

  <div class="content-panel third-party-profiles">
    <h2 class="content-panel__heading">In Other News...</h2>

    <div class="content-panel__contents">
      <p>I've left my mark elsewhere on the web; feel free to have a look!</p>
      <a class="twitter" href="http://twitter.com/mklickman" target="_blank">Twitter</a>
      <a class="github" href="http://github.com/mklickman" target="_blank">GitHub</a>
      <a class="dribbble" href="http://dribbble.com/mklickman" target="_blank">Dribbble</a>
      <a class="google-plus" href="https://plus.google.com/115432085577948819843/about" target="_blank">Google+</a>
      <a class="linkedin" href="http://linkedin.com/in/mklickman" target="_blank">LinkedIn</a>
    </div><!-- .content-panel__contents -->
  </div><!-- .content-panel -->
</div><!-- .l-sidebar -->