<%= link_to post do %>
  <h2 class="post-title"><%= post.title %></h2>
<% end %>

<div class="post-content">
  <%= post.content %>
</div><!-- .post-content -->

<% if admin_signed_in? %> 
  <%= link_to "delete post", post, :method => :delete, :confirm => "Are you sure?" %>
<% end %> 