<div class="content-panel">
  <h2 class="content-panel__heading">Recent Posts</h2>

  <div class="content-panel__contents">
    <%# render :partial => "post", :collection => posts %>

    <div class="image-wrap">
      <%= image_tag "brace-yourselves.jpg" %>
    </div>

    <div class="image-wrap">
      <%= image_tag "soon.jpg" %>
    </div><!-- .image-wrap -->
  </div><!-- .content-panel__contents -->
</div><!-- .content-panel -->