<div class="row-fluid">
  <div class="span6" style="height: 35px; background: #ddd; margin-bottom: 10px;"></div>
  <div class="span6" style="height: 35px; background: #ddd; margin-bottom: 10px;"></div>
</div><!-- .row-fluid -->