@import 'compass';

$break-small: 20em;
$break-max-large: 47.95em;
$break-large: 48em;

@mixin respond-to-min($media) {
  @if $media == handheld {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == fullsize {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else {
    @media only screen and (min-width: $media) { @content; }
  }
}

@mixin respond-to-max($media) {
  @if $media == handheld {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == fullsize {
    @media only screen and (max-width: $break-max-large) { @content; }
  }
  @else {
    @media only screen and (max-width: $media) { @content; }
  }
}

@mixin bg-grad($root-color, $amount: 5%, $hoverOffset: 0) {
  
  $start: lighten($root-color, $amount);
  $end: darken($root-color, $amount);

  @include filter-gradient($start, $end);
  @include background-image(linear-gradient($start, $end));

  @if ($hoverOffset != 0) {

    $hoverStart: lighten($root-color, $amount + $hoverOffset);
    $hoverEnd: darken($root-color, $amount - $hoverOffset);
    
    &:hover {
      @include filter-gradient($hoverStart, $hoverEnd);
      @include background-image(linear-gradient($hoverStart, $hoverEnd));      
    }
  }
}