@import 'compass';
@import 'mixins';

body {
  position: relative;
}

.container {
  @include legacy-pie-clearfix;
  @include box-sizing(border-box);
  margin: 0 auto;
  position: relative;
  padding: 0 1em;
}

header {
  padding: 1em 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}

.logo {
  margin-bottom: 1em;
}

.site-title {
  margin-bottom: 0.15em;
}

nav a {
  @include respond-to-min(fullsize) {
    margin-left: 2em;
  }
}

.content-panel {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

@include respond-to-min(fullsize) {
  .l-main-column {
    float: left;
    width: 66.5%;
  }

  .l-sidebar {
    float: right;
    width: 30%;
  }
}

body.home {
  text-align: center;
}

body.about {
  // @include respond-to-max(44.999em) {
  //   .content-panel {
  //     max-width: 26em;
  //     margin: 0 auto 1em;
  //   }
  // }

  @include respond-to-min(30em) {
    .l-sidebar {
      @include legacy-pie-clearfix;
      padding-bottom: 1em;
      
      .personal-stats {
        float: left;
        width: 49%;
      }

      .third-party-profiles {
        float: right;
        width: 49%;
      }
    }
  }

  @include respond-to-min(45em) {
    .l-main-column {
      float: left;
      width: 66.5%;
    }

    .l-sidebar {
      float: right;
      width: 30%;
      padding-bottom: 0;

      .personal-stats,
      .third-party-profiles {
        float: none;
        width: auto;
      }
    }
  }  
}

.welcome-message-intro {
  margin: 0 0 1.25em;
}

.welcome-message-body {
  max-width: 28em;
  margin: 0 auto 3em;
}

.home-page-menu__item {
  display: block;
  margin: 0 auto 1em;
  max-width: 20.813em;
}

.home-page-menu__item__title {
  margin-bottom: 0.5em;
}

.admin-sign-out {
  position: absolute;
  top: 15px;
  right: 0;
}