@import 'compass';
@import 'mixins';

html.js {
  background: transparent;

  .fixed-site-background {
    background: image-url('site-background.jpg') top left;
    display: block;
    position: fixed;
    top: 0;
    width: 1600px;
    height: 1200px;
    z-index: -1
  }

  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
    .fixed-site-background {
      background: image-url('site-background@2x.jpg');
      background-size: 1600px 1200px;
    }
  }

  header {
    position: fixed;
    top: 0;

    &.has-shadow {
      @include box-shadow(0 15px 10px -10px rgba(0, 0, 0, 0.25));
    }
  }

  .page-content {
    padding-top: 45px;
  }
}

.container {
  @include respond-to(fullsize) {
    max-width: 64em;
  }
}

header {
  @include respond-to(fullsize) {
    @include legacy-pie-clearfix;
    text-align: left;
  }
}

.logo {
  @include respond-to(fullsize) {
    @include inline-block;
    float: left;
    width: 25em;
  }
}

.site-title {
  @include respond-to(fullsize) {
    
    a {
      display: block;
      font-size: 1.1em;
    }
  }
}

nav {
  @include respond-to(fullsize) {
    float: right;
    height: 3.5em;
    line-height: 3.5em;

    a {
      font-size: 1.333em;
    }
  }
}

.welcome-message-intro {
  @include respond-to(26.125em) {
    font-size: 1.6em;
  }

  @include respond-to(fullsize) {
    font-size: 1.9em;
  }

  @include respond-to(57em) {
    font-size: 2.25em;
  }
}

.welcome-message-body {
  @include respond-to(26.125em) {
    font-size: 1.4em;
  }

  @include respond-to(fullsize) {
    font-size: 1.625em;
  }

  @include respond-to(57em) {
    font-size: 1.875em;
  }
}

.home-page-menu__item {
  @include respond-to(fullsize) {
    @include inline-block;
    margin-right: 2%;
    width: 27%;

    &:last-child {
      margin-right: 0;
    } 
  }
}