@import "compass";

.main.container-fluid {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.admin-actions {
  @include filter-gradient(#eee, #ccc);
  @include background-image(linear-gradient(#eee, #ccc));
  @include border-radius(0 0 4px 4px);
  @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.15));
  @include inline-block;
  border-bottom: 1px solid #a0a0a0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1%;
  width: 25%;
}

form {
  width: 100%;

  & > * {
    display: block;
    width: 100%;
  }
}
